bin/
bin-int/
**/lib/
**/lib-int/
build/

.vs/
**/*.user
**/*.filters

3rdparty/**/example/
3rdperty/**/build/
3rdperty/**/Build/

libs/**/*.ipd
libs/**/*.pdb
libs/**/*.exp

/**/imgui.ini
/**/.acdacfg
